.documentation {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}

.documentationInfo {
  width: 100%;
  display: flex;
  @include media-tablet-660 {
    flex-direction: column;
  }

  & ul {
    border: 1px solid $base-bg-color;
    width: 100%;
    list-style-type: none;
    max-width: 320px;
    border-radius: 16px;
    padding: 15px;
    margin-right: 10px;
  }

  .typeDescription {
    border-radius: 16px;
    padding: 15px;
    border: 1px solid $base-bg-color;
    width: 100%;
    max-width: 320px;
    margin-top: 25px;
  }
}

.doc-field {
  &__name {
    font-weight: bold;
    color: $primary-color;
  }

  &__type {
    color: $primary-darker-color;
  }
}

.doc-queries {
  &__item {
    cursor: pointer;
    margin-bottom: 10px;

    &:hover {
      background-color: #fc6dcc32;
      border-radius: 4px;
    }
  }
}

.type-info__item {
  cursor: pointer;
  margin-bottom: 10px;

  &:hover {
    background-color: #fc6dcc32;
    border-radius: 4px;
  }
}

.back_button, .close_button {
  padding: 6px 30px;
  border-radius: 5px;
  border: none;
  background: $primary-color;
  color: $light-text-color;
  margin: 10px;
  transition: all 0.5s ease;
  @include media-tablet-660 {
    padding: 6px 20px;
  }
}

.close_button {
  box-shadow: inset 0 0 0 1px $primary-color;
  color: $primary-color;
  margin: 10px 10px 10px 0;
  background: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(5px);
}

.close_button:hover {
  background: $light-text-color;
  box-shadow: inset 0 0 0 1px $light-text-color;
  backdrop-filter: blur(5px);
  color: $primary-color;
}

.back_button:hover {
  background: $light-text-color;
  color: $primary-color;
}