.error-message {
  position: absolute;
  background: #f009;
  z-index: 100;
  right: 11px;
  width: 300px;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-right: 5px;
  justify-content: end;
  cursor: pointer;
  overflow: hidden;

  &__button {
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: black;
    margin-right: 5px;
  }

  &__notification {
    width: 100%;
    padding: 0 10px 10px 10px;
    color: black;
    font-size: 20px;
  }

  &__timer {
    height: 10px;
    width: 100%;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      background: $primary-color;
      animation: shrink 10s linear forwards;
    }
  }
}

@keyframes shrink {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
