#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1140px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @include media-desktop {
    padding: 0 30px;
  }
  @include media-mobile-450 {
    padding: 0 15px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 30px;
  padding-bottom: 30px;
}
