.containerEditor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 10px 15px;
  text-align-last: left;

  background: #272b6a;
  border-radius: 8px;
  padding: 10px;
}

.outputEditor {
  display: flex;
  flex-direction: column;
}

.inputEditor,
.outputEditor,
.variableEditor {
  background: #0b0e40;
  border-radius: 6px;
}

.variableEditor {
  grid-column-start: 1;
  grid-column-end: 3;
}

.editors_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: $light-text-color;
  padding: 10px;
}

.play-button {
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
}

.round-button {
  display: flex;
  margin-top: 40px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: $primary-color;
  border: 7px solid #272b6a;
  transition: all 0.5s ease;

  &_icon {
    display: block;
    margin: auto;
    transition: all 0.5s ease;
  }
}

.round-button:hover {
  background-color: $light-text-color;
}

.round-button:hover::before {
  content: '';
  background-color: $light-text-color;
}

.round-button:hover svg path {
  fill: $primary-color;
}
