.containerEditor {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 1fr auto;
  grid-gap: 10px 15px;
  text-align-last: left;
  position: relative;

  background: #272b6a;
  border-radius: 8px;
  padding: 10px;
}

.outputEditor {
  display: flex;
  flex-direction: column;
  grid-row: 1/3;
  grid-column: 2/3;
}

.inputEditor,
.outputEditor,
.toolsEditor {
  background: #0b0e40;
  border-radius: 6px;
  padding: 6px;
}

.toolsEditor {
  &__controls {
    display: flex;
    align-items: center;
    padding: 5px;
  }

  &__button {
    margin-left: 10px;
    display: flex;
    border: none;
    background: none;
    padding: 5px;
    color: gray;
    line-height: 1;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background: $primary-color;
      color: $light-text-color;
    }

    &.active {
      color: $light-text-color;
    }
  }

  &__toggle {
    margin-left: auto;
    color: $light-text-color;
  }
}

.editors_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: $light-text-color;
  padding: 10px;
}

.play-button {
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
}

.round-button {
  display: flex;
  margin-top: 40px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: $primary-color;
  border: 7px solid #272b6a;
  transition: all 0.5s ease;

  &_icon {
    display: block;
    margin: auto;
    transition: all 0.5s ease;
  }
}

.round-button:hover {
  background-color: $light-text-color;
}

.round-button:hover::before {
  content: '';
  background-color: $light-text-color;
}

.round-button:hover svg path {
  fill: $primary-color;
}

.input {
  grid-column-start: 1;
  grid-column-end: 3;
}

.docVertical {
  transform: rotate(90deg);
  left: -70px;
  position: absolute;
  top: 60px;
}

.documentationBlock {
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  z-index: 5;
}

.parse-error {
  padding: 10px 10px 10px 40px;
  color: $error-color;
}
