.header {
  //background-color: $dark-bg-color;
  color: rgba($color: $light-text-color, $alpha: 0.87);

  &__container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 2rem;
    line-height: 1;
  }

  &__link {
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    transition: all .5s ease;

    &:hover {
      color: $primary-color;
    }

    &.active {
      color: $primary-color;
      cursor: default;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__logo {
    padding: 15px;
    &_img{
      height: 50px;
    }
  }

  &__sign_out {
    background-color: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: white;

    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    transition: all .5s ease;

    &_icon {
      margin-left: 10px;
    }
  }
  &__sign_out:hover {
    color: $primary-color;
  }
}

.sticky-header {
  position: relative;
  z-index: 1;
  transition: background-color 0.5s ease-in-out, height 0.5s ease-in-out;
}

.sticky-header.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(10, 13, 63);
  box-shadow: 0px 1px 10px rgba(212, 49, 158, 0.25);
  height: 60px;
}

.sticky-header.is-colored {
  background-color: #f2f2f2;
}

.container_sign-out {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  transition: transform 0.2s;
}

.text:hover + .icon,
.icon:hover {
  transform: translateX(5px);
}

.text:hover::before,
.icon:hover::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 10px);
  border-radius: 8px;
  background-color: $primary-color;
  // background-color: rgba(0, 0, 0, 0.1);
  z-index: -1;
}
