.footer {
  padding: 10px 0;
  background-color: $dark-bg-color;
  color: rgba($color: $light-text-color, $alpha: 0.87);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-tablet-730 {
      flex-direction: column;
    }
  }

  &__logo {
    height: 40px;
    @include media-tablet-730 {
      margin-bottom: 10px;
    }
  }

  &__year {
    font-size: 14px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.55);
    @include media-tablet-730 {
      display: none;
    }
  }

  &__links{
    display: flex;
    @include media-tablet-730 {
      margin-bottom: 10px;
    }
    @include media-mobile-450 {
      flex-direction: column;
    }
    &_students {
      @include media-tablet-730 {
        display: none;
      }
    }
  }

  &__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__desk_year {
    display: none;
    @include media-tablet-730 {
      display: block;
      font-size: 14px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.55);
    }
  }
}

.author-link {
  display: flex;
  align-items: center;
  color: inherit;
  transition: all 0.15 ease-in-out;
  margin-left: 10px;

  &:hover {
    color: $primary-color;
  }

  &__icon {
    display: flex;
    margin-right: 0.5rem;
  }
}

.school-link {
  display: block;
  width: 80px;
  height: 40px;
  background: url(../../assets/rsschool-logo.svg) center/contain no-repeat;

  &__text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
}
