.not-found{
    
    &_text{
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: $light-text-color;

        margin-top: 50px;
    }

    &_error{
        font-weight: 700;
        font-size: 250px;
        line-height: 303px;
        color: $light-text-color;
    }

}
